body {
  background-color: black; }

  h1 {
    color: white;
    font-family: sans-serif; font-weight: bold; text-align: center; font-size: 450%; }
    h3{
      color: white;
    }
    h2 { color: white;

    }
li {
  color: white;
}
    header {
      background-color: red;
      height: 85px;
    }
    main {
  position: relative;
}

footer {
  position: fixed;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;
z-index: 10;
}
