body {
  background-image: url(assets/sky.png); }
div {
  font-style: italic;
  font-family: fantasy;
  font-size: 150%
}
  h1 {
    color: white;
    font-family: sans-serif; font-weight: bolder; text-align: center; font-size: 450%;
border-style: groove;
border-radius: 200px
  }
  h3 {
    font-size: 100%
    font-family: monospace;
    font-style: italic;
    color: white;


  }

  ul, li {
    font-family: cursive;
    color: white;
    list-style-type: none;
  }
  header {

  }
  main {
    position: relative;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 10;
  }
